<div class="login-container">
  <h1 class="container-header">Logowanie</h1>
  <section class="container-inputs">
    <section class="input-username" >
      <label for="username" >Nazwa użytkownika</label>
      <input pSize="large" pInputText id="username" type="text">
    </section>
    <section class="input-password" >
      <label for="password" >Hasło</label>
      <input pSize="large" pInputText id="password" type="text">
    </section>
    <div class="container-buttons">
      <p-button severity="contrast" label="Zaloguj"></p-button>
      <a href="">Zapomniałaś hasło</a>
    </div>
    <span>Nie masz konta?  <a href="">Zarejestruj się</a></span>
  </section>
  <div class="container-blur"></div>
</div>
