    @for (item of games$(); track item.gameId) {
      <app-list-item>
        <ng-container ngProjectAs="header">
          {{ item.gameName }}
        </ng-container>
        <ng-container ngProjectAs="body" >
          {{ item.categoryName }}
        </ng-container>
        <ng-container ngProjectAs="data" >
          Zagrano w: {{ item.yearPlayed | formatDate }}
        </ng-container>
        <ng-container ngProjectAs="actions">
          <p-button icon="pi pi-pencil" severity="warn" (click)="updateGame(item.gameId)"/>
          <p-button icon="pi pi-trash" severity="danger" (click)="deleteGame(item.gameId)"/>
        </ng-container>
      </app-list-item>
    } @empty {
      <section class="empty-list">Nie posiadasz gier</section>
    }
    <app-paginator [pageSizes]="[5,10,20]" [paginationConfig]="paginationState$()"  (pageNumberChange)="updatePageNumber($event)" (pageSizeChange)="updatePageSize($event)" />
