<div class="registration-container">
  <img class="container-logo" src="angular-logo.webp" alt="">
  <h1 class="container-header">Rejestracja</h1>
  <section class="container-inputs">
    <section class="input-container" >
      <label for="username" >Nazwa użytkownika</label>
      <input pSize="large" pInputText id="username" type="text">
    </section>
    <section class="input-container">
      <label for="firstname" >Imię</label>
      <input pSize="large" pInputText id="firstname" type="text">
    </section>
    <section class="input-container">
      <label for="lastname" >Nazwisko</label>
      <input pSize="large" pInputText id="lastname" type="text">
    </section>
    <section class="input-container">
      <label for="user-email" >E-mail</label>
      <input pSize="large" pInputText id="user-email" type="text">
    </section>
    <section class="input-container">
      <label for="password" >Hasło</label>
      <input pSize="large" pInputText id="password" type="text">
    </section>
    <section class="input-container">
      <label for="confirm-password" >Potwierdź hasło</label>
      <input pSize="large" pInputText id="confirm-password" type="text">
    </section>
    <p-button severity="contrast" label="Zarejestruj"></p-button>
  </section>
  <div class="container-blur"></div>
</div>
