@for (item of categories$(); track item.categoryId) {
  <app-list-item>
    <ng-container ngProjectAs="header">
      {{ item.categoryName }}
    </ng-container>
    <ng-container ngProjectAs="body" >
      {{ item.description }}
    </ng-container>
    <ng-container ngProjectAs="data">
      Ilość gier: {{ item.gamesCount }}
    </ng-container>
    <ng-container ngProjectAs="actions">
      <button pButton severity="warn"  type="button"  (click)="updateCategory(item.categoryId)">
        <fa-icon [icon]="faPencil" />
      </button>
      <button pButton severity="danger"  type="button" (click)="deleteCategory(item.categoryId)">
        <fa-icon [icon]="faTrash" />
      </button>
    </ng-container>
  </app-list-item>
} @empty {
  <section class="empty-list">Nie posiadasz kategorii</section>
}
<app-paginator [pageSizes]="[5,10,20]" [paginationConfig]="paginationState$()" (pageNumberChange)="updatePageNumber($event)" (pageSizeChange)="updatePageSize($event)"/>
