:host{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background-color: var(--gray-light);
  padding: 1rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.button{
  align-self: flex-end;
}
