:host{
  display: grid;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--background);
  height: 4rem;
  width: 100%;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  grid-template-areas: 'menu-button logo theme-toggle user-button';
  grid-template-columns: auto 1fr repeat(3, auto);
}

.menu-button {
  grid-area: menu-button;
}

.logo {
  grid-area: logo;
}

.theme-toggle {
  grid-area: theme-toggle;
}

.user-button {
  grid-area: user-button;
}


