<app-container>
  <h1 class="container-header" i18n>Rejestracja</h1>
  <form class="container-inputs" [formGroup]="registerForm" (ngSubmit)="postNewUser()">
    <section class="input" >
      <label for="username" i18n>Nazwa użytkownika</label>
      <input formControlName="userName" id="username" i18n pInputText pSize="large" type="text" [ngClass]="{'ng-invalid ng-dirty': registerForm.controls.userName.invalid}">
      @if (registerForm.controls.userName.invalid && registerForm.controls.userName.touched) {
        @if (registerForm.controls.userName.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.userName.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 3 znaki</p-message>
        }
      }
    </section>
    <section class="input">
      <label for="firstname" i18n>Imię</label>
      <input formControlName="firstname" id="firstname" pInputText pSize="large" type="text">
      @if (registerForm.controls.firstname.invalid && registerForm.controls.firstname.touched) {
        @if (registerForm.controls.firstname.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.firstname.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 3 znaki</p-message>
        }
      }
    </section>
    <section class="input">
      <label for="lastname" i18n>Nazwisko</label>
      <input formControlName="lastname"  id="lastname" pInputText pSize="large" type="text">
      @if (registerForm.controls.lastname.invalid && registerForm.controls.lastname.touched) {
        @if (registerForm.controls.lastname.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.lastname.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 3 znaki</p-message>
        }
      }

      <label for="user-email" i18n >E-mail</label>
      <input formControlName="userEmail" pSize="large" pInputText id="user-email" type="text">
      @if (registerForm.controls.userEmail.invalid && registerForm.controls.userEmail.touched) {
        @if (registerForm.controls.userEmail.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.userEmail.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 3 znaki</p-message>
        }
        @if (registerForm.controls.userEmail.errors?.email) {
          <p-message i18n severity="error" size="small" variant="simple">Błędny format adresu e-mail</p-message>
        }
      }
    </section>
    <section class="input">
      <label for="password" i18n >Hasło</label>
      <input formControlName="password" id="password" pInputText pSize="large" type="text">
      @if (registerForm.controls.password.invalid && registerForm.controls.password.touched) {
        @if (registerForm.controls.password.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.password.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
      }
    </section>
    <section class="input">
      <label for="confirm-password" i18n >Potwierdź hasło</label>
      <input formControlName="confirmPassword" id="confirm-password" pInputText pSize="large" type="text">
      @if (registerForm.controls.confirmPassword.invalid && registerForm.controls.confirmPassword.touched) {
        @if (registerForm.controls.confirmPassword.errors?.required) {
          <p-message  i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (registerForm.controls.confirmPassword.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
        @if (registerForm.controls.confirmPassword.errors?.mustMatch) {
          <p-message i18n severity="error" size="small" variant="simple">Hasła się nie zgadzają</p-message>
        }
      }
    </section>
    <section class="input">
      <label for="invitationCode" i18n>Kod zaproszenia</label>
      <input formControlName="invitationCode" id="invitationCode" pInputText pSize="large" type="text">
      @if (registerForm.controls.invitationCode.invalid && registerForm.controls.invitationCode.touched) {
        @if (registerForm.controls.invitationCode.errors?.required){
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
      }
    </section>
    <section class="container-buttons">
      <button pButton severity="contrast"  type="submit" [disabled]="registerForm.invalid">
        @if (isSubmit()) {
          <i class="pi pi-spin pi-spinner"></i>
        }
        <span i18n pButtonLabel>Zarejestruj</span>
      </button>
    </section>
  </form>
  <div class="container-blur"></div>
</app-container>
