.container-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-blur {
  filter: blur(50px);
  background: linear-gradient(to right, rgb(89 97 255), rgb(89 97 255));
  border-radius: 10px;
  width: 74px;
  height: 130px;
  position: absolute;
  inset: -40px -40px auto auto;
}
