:host{
  display: flex;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__button{
  place-items: end;
}

@media (max-width: 500px){
  :host{
    flex-direction: column;
  }
}






