:host{
  display: flex;
  justify-content: center;
  column-gap: 0.2rem;
}
.button-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: var(--gray-light);
  color: #475569;
}

.button-page:hover:not(:disabled){
  background-color: var(--p-violet-500);
  color: #fff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-page:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

input[type=radio]:checked + label{
  background-color: var(--p-violet-500);
  color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.select-page-size {
  border: none;
  border-radius: 10px;
  background-color: var(--gray-light);
  font-size: 20px;
  width: 3rem;
}
