@let pageNumber = paginationConfig().pageNumber;
@let amountPagesList = paginationConfig().amountPagesList;
<button class="button-page" pButton type="button"  [disabled]="pageNumber === 1"
        [rounded]="true" [text]="true" (click)="selectFirstPage()">
  <fa-icon [icon]="faAnglesLeft" />
</button>
<button class="button-page" pButton type="button"  [disabled]="pageNumber === 1"
        [rounded]="true" [text]="true" (click)="selectPreviousPage()">
  <fa-icon [icon]="faAngleLeft" />
</button>
@for (item of pagination(); track item) {
  <input style="display: none" type="radio" [checked]="item === pageNumber" [id]="item.toString()" [name]="item" [value]="item" (change)="selectPage($event)">
  <label class="button-page" [for]="item.toString()">
    {{item}}
  </label>
}
<button class="button-page" pButton type="button"  [disabled]="pageNumber === amountPagesList[amountPagesList.length - 1]"
        [rounded]="true" [text]="true" (click)="selectNextPage()">
  <fa-icon [icon]="faAngleRight" />
</button>
<button class="button-page" pButton type="button"  [disabled]="pageNumber === amountPagesList[amountPagesList.length - 1]"
        [rounded]="true" [text]="true" (click)="selectLastPage()">
  <fa-icon [icon]="faAnglesRight" />
</button>
<p-select styleClass="select-page-size" [options]="pageSizes()"/>


