.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}


.loader{
  display: flex;
  justify-content: center;
}

.table-empty-message{
  text-align: center;
}

.cell{
  height: 75px;
}

