:host{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  height: 100vh;
}

.recovery-password-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 64px;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(10, 3, 56, 0.05);
  position: relative;
  overflow: hidden;
}

.container-header {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(10, 3, 56);
}
