<app-container>
  <h1 class="container-header">Odzyskiwanie hasła</h1>
  <p class="info">Wprowadź adres e-mail, na który zostanie wysłany link</p>
  <section class="container-inputs">
    <section class="input" >
      <input placeholder="Adres e-mail" [formControl]="userEmail" pSize="large" pInputText id="username" type="text">
    </section>
  </section>
  <section class="container-buttons">
    <p-button [routerLink]="['','login']" [link]="true" label="Wstecz"></p-button>
    <button [disabled]="userEmail.invalid" (click)="postRecoveryPassword()" pButton  type="submit" severity="contrast">
      @if (isSubmit()) {
        <i class="pi pi-spin pi-spinner"></i>
      }
      <span pButtonLabel>Wyślij</span>
    </button>
  </section>
</app-container>
