<app-container>
  <h1 class="container-header">Odzyskiwanie hasła</h1>
  <p class="info">Wprowadź adres e-mail, na który zostanie wysłany link</p>
  <section class="container-inputs">
    <section class="input" >
      <label for="user-email" >E-mail</label>
      <input [formControl]="userEmail" pSize="large" pInputText id="username" type="text">
      @if (userEmail.invalid && userEmail.touched) {
        @if (userEmail.errors?.required) {
          <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (userEmail.errors?.minlength) {
          <p-message severity="error" size="small" variant="simple">Pole zawierać mieć conajmniej 3s znaki</p-message>
        }
        @if (userEmail.errors?.email) {
          <p-message severity="error" size="small" variant="simple">Błędny format adresu e-mail</p-message>
        }
      }
    </section>
  </section>
  <section class="container-buttons">
    <p-button [routerLink]="['','login']" [link]="true" label="Wstecz"></p-button>
    <button [disabled]="userEmail.invalid" (click)="postRecoveryPassword()" pButton  type="submit" >
      @if (isSubmit()) {
        <i class="pi pi-spin pi-spinner"></i>
      }
      <span pButtonLabel>Wyślij</span>
    </button>
  </section>
</app-container>
