.container-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  border-radius: 10px;
  min-height: 8rem;
  background-color: var(--gray-light);
  padding: 1rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin-bottom: 1rem;
}

.item-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.item-category{
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.item-data{
  display: flex;
  flex-direction: column;
}



.item-buttons {
  display: grid;
  justify-content: end;
  column-gap: 0.5rem;

}
