<form #gameForm="ngForm" class="" (ngSubmit)="formSubmit()">
  <section class="input">
    <label for="gameName">Nazwa</label>
    <input #game="ngModel" id="gameName" name="gameName" pInputText pSize="large" type="text" [required]="true" [(ngModel)]="gameName">
    @if (game.invalid && game.touched) {
      @if (game.errors?.required) {
        <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
    }
  </section>
  <section class="input">
    <label for="category">Kategoria</label>
    <p-auto-complete  #category="ngModel" appendTo="body" dropdown="true" id="category" name="category"  optionLabel="categoryName" [required]="true" [suggestions]="filteredCategories()"  [(ngModel)]="selectedCategory" (change)="onChangeInput()" (completeMethod)="filterCategory($event)" (onSelect)="selectCategory()" />
    @if (category.invalid && category.touched) {
      @if (category.errors?.required) {
        <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
    }
  </section>
  <button class="button" pButton type="submit" [disabled]="gameForm.invalid || gameStore.isLoading() || !isNotSelectCategory()">
    @if (gameStore.isLoading()){
      <i class="pi pi-spin pi-spinner"></i>
    }
    <span pButtonLabel>Dodaj</span>
  </button>
</form>

