:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  height: 100vh;
}

.confirm-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 64px;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(10, 3, 56, 0.05);
  position: relative;
  overflow: hidden;
}

.container-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 18px;
  width: 375px;
}

.container-buttons{
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.info {
  margin-bottom: 16px;
}

