<form [formGroup]="newCategoryForm" (ngSubmit)="submitForm()" >
  <section class="input" >
    <label for="username" >Nazwa</label>
    <input formControlName="categoryName" pSize="large" pInputText id="username" type="text">
    @if (newCategoryForm.controls.categoryName.invalid && newCategoryForm.controls.categoryName.touched) {
      @if (newCategoryForm.controls.categoryName.errors?.required) {
        <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
    }
  </section>
  <section class="input" >
    <label for="username" >Opis</label>
    <textarea formControlName="description" pTextarea id="username" fluid></textarea>
    @if (newCategoryForm.controls.description.invalid && newCategoryForm.controls.categoryName.touched) {
      @if (newCategoryForm.controls.description.errors?.required) {
        <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
    }
  </section>
  <button class="button" pButton type="submit">
    @if (isSubmit()){
      <i class="pi pi-spin pi-spinner"></i>
    }
    <span pButtonLabel>Dodaj</span>
  </button>
</form>
