<form [formGroup]="newCategoryForm" (ngSubmit)="submitForm()" >
  <section class="input" >
    <label for="username" >Nazwa</label>
    <input formControlName="categoryName" id="username" pInputText pSize="large" type="text">
    @if (newCategoryForm.controls.categoryName.invalid && newCategoryForm.controls.categoryName.touched) {
      @if (newCategoryForm.controls.categoryName.errors?.required) {
        <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
      @if (newCategoryForm.controls.categoryName.errors?.minlength) {
        <p-message severity="error" size="small" variant="simple">Wymagane jest min. 10 znaków</p-message>
      }
    }
  </section>
  <section class="input" >
    <label for="username" >Opis</label>
    <textarea fluid formControlName="description" id="username" pTextarea></textarea>
  </section>
  <button class="button" pButton type="submit" [disabled]="newCategoryForm.invalid">
    @if (store.isLoading()){
      <i class="pi pi-spin pi-spinner"></i>
    }
    <span pButtonLabel>Dodaj</span>
  </button>
</form>
