<app-container>
  <h1 class="container-header" i18n >Zweryfikuj konto</h1>
  <p class="info" i18n >Wprowadź kod wysłany na adres e-mail</p>
  <section class="container-inputs input-otp">
    <p-input-otp class="input-otp"  size="large" [formControl]="confirmCode" />
    <section class="container-buttons">
      <p-button label="Wygeneruj nowy kod" i18n-label [link]="true" (click)="postResendCode()" />
      <p-button label="Wyślij" i18n-label (click)="postConfirmCode()" />
    </section>
  </section>
</app-container>
