.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-link {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  color: var(--black-raw);
  font-weight: bold;
}


.active{
  color: var(--p-violet-500);
}


