:host{
  display: block;
}

.container{
  display: flex;
  flex-direction: row;
}


.content {
  margin: 5.5rem 0.5rem 0.5rem 22rem;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02),0 1px 2px 0 rgba(0,0,0,0.04);
}

.expanded{
  margin-left: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02),0 1px 2px 0 rgba(0,0,0,0.04);
  transition: all 0.4s ease-in-out;

}
