.sidebar{
  position: fixed;
  top: 5.5rem;
  left: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02),0 1px 2px 0 rgba(0,0,0,0.04);
  background-color: #fff;
  height: calc(100vh - 6rem);
  width: 20rem;
  overflow-y: auto;
  transition: all 200ms ease-in-out;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-right: 1rem;
  list-style: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #0a0338;
}

.closed{
  transform: translateX(-100%);
  left: 0;
  transition: transform 200ms ease-in-out, left 200ms ease-in-out;
}




