:host{
  display: block;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02),0 1px 2px 0 rgba(0,0,0,0.04);
  background: #fff;
  height: calc(100vh - 6rem);
  width: 20rem;
  overflow-y: auto;
  transition: all 200ms ease-in-out;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-right: 1rem;
  list-style: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #0a0338;
}

:host(.closed){
  transform: translateX(-100%);
  margin-left: 0;
  transition: transform 200ms ease-in-out, margin-left 200ms ease-in-out;
}

.menu-button{
  align-self: end;
}

@media (max-width: 991px){
  :host{

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    margin: 0;
    transform: translateX(-100%);
    border-radius: 0;
    background: transparent;
  }

  .sidebar{
    height: inherit;
    width: 20rem;
    background-color: #fff;
  }

  :host(.closed){
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
  }
}

