<div class="login-container">
  <h1 class="container-header">Logowanie</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="container-inputs">
    <section class="input-username" >
      <label for="username" >Nazwa użytkownika</label>
      <input formControlName="userName" pSize="large" pInputText id="username" type="text">
    </section>
    <section class="input-password" >
      <label for="password" >Hasło</label>
      <input formControlName="password" pSize="large" pInputText id="password" type="text">
    </section>
    <div class="container-buttons">
      <button pButton severity="contrast" type="submit">
        @if (isLogin()){
          <i class="pi pi-spin pi-spinner"></i>
        }
        <span pButtonLabel>Zaloguj</span>
      </button>
      <a href="">Zapomniałaś hasło</a>
    </div>
    <span>Nie masz konta?  <a href="">Zarejestruj się</a></span>
  </form>
  <div class="container-blur"></div>
</div>
