<app-theme-toggle />
<app-container>
  <h1 class="container-header">Zaloguj się</h1>
  <form class="container-inputs" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <section class="input" >
      <label for="username" >Nazwa użytkownika</label>
      <input formControlName="userName" id="username" pInputText pSize="large" type="text">
    </section>
    <section class="input input-password" >
      <label for="password" >Hasło</label>
      <p-password feedback="false" formControlName="password" id="password" size="large" type="password" [fluid]="true" [toggleMask]="true" />
    </section>
    <a class="link-recovery-password" [routerLink]="['','recovery-password']">Zapomniałaś hasło</a>
    <div class="container-buttons">
      <button class="button" pButton type="submit">
        @if (isLogin()){
          <i class="pi pi-spin pi-spinner"></i>
        }
        <span pButtonLabel>Zaloguj</span>
      </button>
    </div>
    <span class="link-register">Nie masz konta?  <a [routerLink]="['','registration']">Zarejestruj się</a></span>
  </form>
</app-container>
