<div class="toggles">
  <app-lang-toggle/>
  <app-theme-toggle />
</div>
<section class="container">
  <h1 class="container__header" i18n>Zaloguj</h1>
  <form class="container__form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <section class="form__field" >
      <label for="username" i18n >Nazwa użytkownika</label>
      <input formControlName="userName" id="username" pInputText pSize="large" type="text">
    </section>
    <section class="form__field" >
      <label for="password" i18n >Hasło</label>
      <p-password feedback="false" formControlName="password" id="password" size="large" type="password" [fluid]="true" [toggleMask]="true" />
    </section>
<!--
    <a class="link-recovery-password" [routerLink]="['','recovery-password']">Zapomniałaś hasło</a>
-->
      <button class="form__button"  pButton type="submit" [disabled]="isLogin()">
        @if (isLogin()){
          <fa-icon animation="spin" [icon]="faSpinner" />
        }
        <span i18n pButtonLabel>Zaloguj</span>
      </button>
  </form>
  <span class="container__register" i18n>Nie masz konta?  <a [routerLink]="['','registration']">Zarejestruj się</a></span>
</section>
