:host{
  display: block;
}

.toggles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.container__header{
  place-self: flex-start;
}

.container__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__button {
  width: 100%;
}

.container__register {
  display: block;
  margin-top: 12px;
}



