

.container-inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  margin-block: 8px;
}


.container-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


