<app-container>
  <h1 class="container-header" i18n >Aktualizacja hasła</h1>
  <p class="info" i18n >Wprowadź nowe hasło</p>
  <form class="container-inputs" [formGroup]="newPasswordForm">
    <section class="input" >
      <label for="password" i18n>Hasło</label>
      <input formControlName="password"  id="password" pInputText pSize="large" type="text">
      @if (newPasswordForm.controls.password.invalid && newPasswordForm.controls.password.touched) {
        @if (newPasswordForm.controls.password.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (newPasswordForm.controls.password.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
      }
    </section>
    <section class="input" >
      <label for="confirm-password" i18n >Powtórz hasło</label>
      <input formControlName="confirmPassword" id="confirm-password" pInputText pSize="large" type="text">
      @if (newPasswordForm.controls.confirmPassword.invalid && newPasswordForm.controls.confirmPassword.touched) {
        @if (newPasswordForm.controls.confirmPassword.errors?.required) {
          <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (newPasswordForm.controls.confirmPassword.errors?.minlength) {
          <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
        @if (newPasswordForm.controls.confirmPassword.errors?.mustMatch) {
          <p-message i18n severity="error" size="small" variant="simple">Hasła się nie zgadzają</p-message>
        }
      }
    </section>
  </form>
  <section class="container-buttons">
    <p-button label="Wstecz" i18n-label [link]="true" [routerLink]="['','login']" />
    <button pButton type="submit" [disabled]="newPasswordForm.invalid"  (click)="postRecoveryUpdatePassword()">
      @if (isSubmit()) {
        <i class="pi pi-spin pi-spinner"></i>
      }
      <span i18n pButtonLabel>Wyślij</span>
    </button>
  </section>
</app-container>
