<app-container>
  <h1 class="container-header">Aktualizacja hasła</h1>
  <p class="info">Wprowadź nowe hasło</p>
  <form [formGroup]="newPasswordForm" class="container-inputs">
    <section class="input" >
      <label for="password" >Hasło</label>
      <input formControlName="password" pSize="large" pInputText id="password" type="text">
    </section>
    <section class="input" >
      <label for="confirm-password" >Powtórz hasło</label>
      <input formControlName="confirmPassword" pSize="large" pInputText id="confirm-password" type="text">
    </section>
  </form>
  <section class="container-buttons">
    <p-button [routerLink]="['','login']" [link]="true" label="Wstecz"></p-button>
    <button [disabled]="newPasswordForm.invalid" (click)="postRecoveryUpdatePassword()" pButton  type="submit" severity="contrast">
      @if (isSubmit()) {
        <i class="pi pi-spin pi-spinner"></i>
      }
      <span pButtonLabel>Wyślij</span>
    </button>
  </section>
</app-container>
