<app-container>
  <h1 class="container-header">Aktualizacja hasła</h1>
  <p class="info">Wprowadź nowe hasło</p>
  <form [formGroup]="newPasswordForm" class="container-inputs">
    <section class="input" >
      <label for="password" >Hasło</label>
      <input formControlName="password" pSize="large" pInputText id="password" type="text">
      @if (newPasswordForm.controls.password.invalid && newPasswordForm.controls.password.touched) {
        @if (newPasswordForm.controls.password.errors?.required) {
          <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (newPasswordForm.controls.password.errors?.minlength) {
          <p-message severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
      }
    </section>
    <section class="input" >
      <label for="confirm-password" >Powtórz hasło</label>
      <input formControlName="confirmPassword" pSize="large" pInputText id="confirm-password" type="text">
      @if (newPasswordForm.controls.confirmPassword.invalid && newPasswordForm.controls.confirmPassword.touched) {
        @if (newPasswordForm.controls.confirmPassword.errors?.required) {
          <p-message severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
        }
        @if (newPasswordForm.controls.confirmPassword.errors?.minlength) {
          <p-message severity="error" size="small" variant="simple">Pole musi zawierać conajmniej 8 znaków</p-message>
        }
        @if (newPasswordForm.controls.confirmPassword.errors?.mustMatch) {
          <p-message severity="error" size="small" variant="simple">Hasła się nie zgadzają</p-message>
        }
      }
    </section>
  </form>
  <section class="container-buttons">
    <p-button [routerLink]="['','login']" [link]="true" label="Wstecz"></p-button>
    <button [disabled]="newPasswordForm.invalid" (click)="postRecoveryUpdatePassword()" pButton  type="submit">
      @if (isSubmit()) {
        <i class="pi pi-spin pi-spinner"></i>
      }
      <span pButtonLabel>Wyślij</span>
    </button>
  </section>
</app-container>
