<form #updateCategoryForm='ngForm'  class="form" (ngSubmit)="submitForm()">
  <section class="form__field">
    <label for="categoryName" i18n>Nazwa</label>
    <input #categoryName='ngModel' id="categoryName" minlength="3" name="categoryName" pInputText pSize="large" required type="text" [(ngModel)]="updatedCategory().categoryName">
    @if (categoryName.invalid && categoryName.touched) {
      @if (categoryName.errors?.required) {
        <p-message i18n severity="error" size="small" variant="simple">Pole jest wymagane</p-message>
      }
      @if (categoryName.errors?.minlength) {
        <p-message i18n severity="error" size="small" variant="simple">Pole musi zawierać co najmniej 3 znaków</p-message>
      }
    }
  </section>
  <section class="form__field">
    <label for="description" i18n>Opis</label>
    <textarea #description='ngModel' fluid id="description" name="description" pTextarea [(ngModel)]="updatedCategory().description"></textarea>
  </section>
  <button class="button" pButton type="submit" [disabled]="updateCategoryForm.invalid">
    @if (store.isLoading()) {
      <i class="pi pi-spin pi-spinner"></i>
    }
    <span i18n pButtonLabel>Dodaj</span>
  </button>
</form>
